*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background:linear-gradient(rgba(240, 240, 255, 0.5),rgba(247, 248, 255, 0.5)),url(/img/Agni.png);
    min-height: 100vh;
    border: 8px solid #ff0000;
}
.content{
    max-width: 900px;
    margin: 0 auto;
}
.top-section{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.top-section h1{
    font-size:30px;
    font-weight: bold;
    text-transform: uppercase;

}
.top-section h4{
    font-size: 20px;
    text-align: end;

}
.image-container{
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #ff0000;
}
.image-container,img{
    width: 300px;
    height: 320px;
}
.about-section{
    margin-top: 50px;
}
.about-section h2{
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
}
.about-section p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
}